workflows/wf-02-scheduled-report.json
{
  "name": "02 定时报表：拉数据 → 格式化 → 飞书卡片播报",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }, "triggerTimes": { "triggerTimes": [{ "mode": "custom", "hour": 9, "minute": 0 }] } },
      "id": "cron", "name": "⏰ 每天 9:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [-500, 300] },
    { "parameters": { "method": "GET", "url": "← 替换为你的数据 API 地址", "sendBody": false, "options": {} },
      "id": "fetch", "name": "① 拉取数据", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-250, 300] },
    { "parameters": { "mode": "json", "jsonOutput": "={\"payload\": JSON.stringify($json).slice(0, 3000)}" },
      "id": "format", "name": "② 截断格式化", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [0, 300] },
    { "parameters": {
        "resource": "messaging", "operation": "sendCardMessage",
        "receiveIdType": "open_id", "receiveId": "← 替换为你的 open_id 或群 chat_id",
        "cardTitle": "=📊 每日数据播报 — {{ new Date().toLocaleDateString('zh-CN') }}",
        "cardContent": "={{ $('② 截断格式化').first().json.payload }}",
        "cardColor": "blue"
      },
      "id": "feishu", "name": "③ 飞书卡片播报", "type": "@lixiongwei/n8n-nodes-feishu.feishu", "typeVersion": 2,
      "position": [250, 300],
      "credentials": { "feishuApi": { "id": "PLACEHOLDER", "name": "飞书 Feishu account" } }
    }
  ],
  "connections": { "⏰ 每天 9:00": { "main": [[{ "node": "① 拉取数据", "type": "main", "index": 0 }]] }, "① 拉取数据": { "main": [[{ "node": "② 截断格式化", "type": "main", "index": 0 }]] }, "② 截断格式化": { "main": [[{ "node": "③ 飞书卡片播报", "type": "main", "index": 0 }]] } },
  "pinData": {}, "versionId": "1.0.0", "active": false, "settings": {},
  "tags": [{ "name": "报表" }, { "name": "自动化" }, { "name": "每日播报" }]
}
